.container{
    padding-top: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.containerLg{
    display: flex;
    flex-direction: column;
}

.item{
    width: 60%;
    list-style: none;
    padding-top: 20px;
}

.container_total{
    width: 60%;
    margin-top: 40px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    border-radius: 10px;
}

.totalText{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px;
    
}

.containerFirst{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

.containerForm{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}

.formDisable{
    display: none;
}

.form{
    width: 320px;
    height: 500px;
    background-color: white;
    opacity: 1;
    z-index: 2;
    align-self: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form p{
    color: #3e3681ff;
}

.ButtonsContainer{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.containerOrder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    width: 80%;
    align-items: center;
    align-self: center;
}

.containerOrder p{
    padding-top: 10px;
}